<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>kolu be</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=VT323" />
</head>

<body>

  <h1>KOLUBE</h1>

  <button id="menu_bm" class="menu_button" onclick="loadBookmarks()">
    <span class="mark" id="mark_bm"></span>bookmarks
  </button>

  <button id="menu_nt" class="menu_button" onclick="loadHistory()">
    <span class="mark" id="mark_nt"></span>history
  </button>

  <p class="hidden"></p>

  <div id="bookmarks"></div>

  <p class="hidden"></p>


  <script type="text/javascript" src="/static/bookmarks.js"></script>
</body>

</html>
